{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    {% if post.permalink %}
      <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
    {% else %}
      <h2>
        {{ title }}
      </h2>
    {% endif %}
    
    <p>
      {{ post.author }}
      <br> <i>{{ post.venue }}</i>, {{ post.year }}
      {% if post.paperurl and post.videourl and post.codeurl %}
        <br> <a href="{{ post.paperurl }}">paper</a>, <a href="{{ post.videourl }}">video</a>, <a href="{{ post.codeurl }}">code</a>
      {% elsif post.paperurl and post.videourl %}
        <br> <a href="{{ post.paperurl }}">paper</a>, <a href="{{ post.videourl }}">video</a>
      {% elsif post.paperurl %}
        <br> <a href="{{ post.paperurl }}">paper</a>
      {% endif %}
    </p>

  </article>
</div>
